--extra-index-url https://download.pytorch.org/whl/cu118

torch
torchvision
torchaudio

fastapi
uvicorn
python-multipart

pillow
opencv-python
numpy
matplotlib
pandas
scikit-learn

motor  # MongoDB async driver

passlib
bcrypt

pyjwt
python-dotenv
gdown
cloudinary

git+https://github.com/facebookresearch/segment-anything-2.git
